<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" lang="en"
      layout:decorator="layouts/main">
<head>
    <title>Login</title>
</head>
<body>

<div layout:fragment="loginContent">

    <form name="login" th:action="@{/login}" method="post" class="form-signin">
        <h2 class="form-signin-heading">Please Log in</h2>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="true" />
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="true" />
        <br/>
        <input type="submit" value="Log in" />
    </form>

    <a th:href="@{/reg}">New account</a>
</div>

</body>
</html>