<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TvShow</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />

</head>

<body>


<table  border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>Rating</th>
        <th>Genre</th>
        <th>Season name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course : ${ ShowList }">
        <td th:text="${ course.idTvShow}">ID</td>
        <td th:text="${ course.tvName }">name</td>
        <td th:text="${ course.tvRating }">rating</td>
        <td th:text="${ course.tvGenre }">genre</td>


        <!-- 				<td>
                             <td th:text="${ course.seasons.seasonName }">season</td>

                            <a class="btn btn-warning btn-xs" href="admin/movieEdit.html" th1:href="@{/admin/movieEdit(id=${movie.id})}">Edit</a>
                            <a class="btn btn-danger btn-xs" href="admin/movieDelete.html" th1:href="@{/admin/movieDelete(id=${movie.id})}">Delete</a>
                        </td>
         -->
    </tr>
    </tbody>
</table>

<br/>
<br/>
<br/>

<!-- <form   th:object="${newCourse}" method="post">
			<div class="col-sm-12">
				<label>Course name</label>
				<input placeholder="Course Name" name="name"/>
			</div>
			<div class="col-sm-12">
				<label>Teacher</label>
				<input placeholder="Teacher" name="teacher1"/>
			</div>

			<button type="submit" class = "btn btn-primary">ADD Teacher</button>
</form> -->

</body>























